* {
  scroll-behavior: smooth;
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #eee;
}
a {
  color: black;
}

#header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #eee;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

#header-img {
  padding-left: 20px;
  width: 300px;
  object-fit: contain;
}

#nav-bar {
  font-size: 1.1rem;
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}

#nav-bar a {
  margin-right: 30px;
  text-decoration: none;
}
section {
  margin-top: 60px;
}
#main-head {
  margin-top: 100px;
}
#main-title,
p {
  text-align: center;
}

form input {
  margin: 0 auto;
  display: block;
  height: 1.8em;
  width: 200px;
}
#submit {
  background-color: #f1c40f;
  border: none;
  height: 2em;
  width: 150px;
  font-size: 1em;
  font-weight: bold;
}

#email {
  margin-bottom: 10px;
  width: 250px;
  padding-left: 10px;
}

#features {
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
  /* padding: 0 50px; */
}

#features p {
  text-align: left;
  margin-top: -18px;
  margin-bottom: 50px;
}

#how-it-works {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  margin-top: 60px;
}
#pricing {
  width: 100%;
  text-align: center;
}

#price-tag {
  border: 1px solid black;
  height: 300px;
  width: 320px;
  padding-bottom: 15px;
  min-width: 220px;
  margin-right: 1.5rem;
}

#tags {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  /* gap: 20px; */
}

#tag-name {
  width: 100%;
  height: 60px;
  background-color: #ddd;
}

h3 {
  margin-top: 0;
  padding-top: 20px;
}

#pricing p {
  margin-top: 0;
  margin-bottom: 10px;
}

#pricing button {
  margin-top: 15px;
  /* margin-bottom: 25px; */
  width: 7rem;
  height: 35px;
  background-color: #f1c40f;
  border: none;
  font-size: 1rem;
}

footer {
  width: 68%;
  background-color: #ddd;
  height: 60px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: right;
  /* padding: 10px 10px; */
  padding-top: 15px;
}
footer p {
  margin-top: 5px;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}
footer a {
  margin-right: 30px;
  text-decoration: none;
}

@media only screen and (max-width: 760px) {
  #tags {
    display: block;
  }
  #pricing {
    display: flex;
    justify-content: center;
  }
  #price-tag {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  #nav-bar {
    display: block;
    margin: auto 0;
  }
  #nav-bar a {
    text-align: center;
    display: block;
  }
}
